.btn-primary{
    background-color: blueviolet;
    border: none;
    border-radius: 0;
}

/* square buttons */
.rec.rec-arrow {
    border: transparent;
    background-color: transparent;
    border: none

}
/* round buttons on hover */
.rec.rec-arrow:hover {
    /* border-radius: 50%; */
    /* background-color: white; */
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
    border: none;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
/* .rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;
} */


.cardHeight{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
 }
