/* .bg-hero-image{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRls_6BjDhIZ10bnc320mFLv-alBfhK_5_Qdw);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-alpha-color{
    background-color: var(--bg--alpha-color);
} */
