/* ********** Custom Properties ******** */

:root{
  --first-color:rgb(207,191,91);
  --first-alpha-color:rgb(207,191,91,0.75);

  --second-color:rgb(83,65,84);
  --second-alpha-color:rgb(83,65,84,0.75);

  --third-color: rgb(91,36,179);
  --third-alpha-color: rgb(91,36,179,0.75);

  --link-color: rgb(218,0,235);
  --link-alpha-color: rgb(218,0,235,0.75);
  
  --bg-color:rgb(255, 255, 255);
  --bg--alpha-color:rgba(230, 230, 10, 0.5);
}

/* ********** Reset Styles ******** */

body{
  font-family: 'Poppins', sans-serif;
  /* background-color:rgb(247, 247, 247);  */
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ffe4a1&c2=ffe7e6&gt=l&gd=dtl
*/
background: #FFE4A1;
background: linear-gradient(135deg, #fff7e4, #FFE7E6);


  /* background-image: linear-gradient(to right top, rgb(207,191,91,0.75)); */
}

/* ********** Bootstrap Styles ******** */

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0em solid;
  border-right: 0em solid transparent;
  border-bottom: 0;
  border-left: 0em solid transparent;
}

/* ********** My Styles ******** */



.App {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
